p.guarantee{
	width:30%;
	padding:8%;
	line-height: 40px;
	text-align: center;
	padding-left: 20%;
	background-color: #3DB7BA;
	background-image: url(images/banana.png);
	background-position: top left;
	background-repeat: no-repeat;
	border-style: dotted;
	border-width: 2px;
	border-color: white;
	border-radius: 10px;
	margin:auto;
	margin-bottom: 100px;
}